        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }
        header {
            background-color: #008CBA;
            color: white;
            padding: 1em 0;
            text-align: center;
        }
        nav {
            text-align: center;
            background-color: #333;
            padding: 0.5em 0;
        }
        nav a {
            color: white;
            text-decoration: none;
            margin: 0 15px;
            font-weight: bold;
        }
        nav a:hover {
            text-decoration: underline;
        }
        .container {
            padding: 2em;
            text-align: center;
        }
        .section {
            margin-bottom: 2em;
        }
        .section h2 {
            color: #333;
        }
        footer {
            background-color: #333;
            color: white;
            text-align: center;
            padding: 1em 0;
            position: fixed;
            width: 100%;
            bottom: 0;
        }
