body {
font-family : 'Ubuntu', sans-serif;
position : relative;
}
a {
color : inherit;
}
.navbar-fixed-top {
background-color : transparent;
background : transparent;
border-color : transparent;
position : fixed;
border : none;
box-shadow : none;
width : 100%;
z-index : 1;
color : white;
}
.navbar-default .navbar-nav > li > a {
color : #fff;
}
.navbar-default .navbar-brand {
color : #fff;
}
.navbar-default .navbar-brand:hover {
color : #00b3b3;
}
.navbar-default .navbar-brand:focus {
color : white;
}
.navbar-default .navbar-nav > li > a:hover {
color : #00b3b3;
}
.navbar-default .navbar-nav > li > a:focus {
color : white;
}
.navbar-right {
padding-top : 1%;
float : right;
padding-right : 10%;
}
.navbar-right a {
padding : 10px;
font-weight : 900;
position : relative;
color : white;
}
.navRight:before {
content : "";
position : absolute;
width : 100%;
height : 2px;
bottom : 0;
left : 0;
background-color : #00b3b3;
visibility : hidden;
transform : scaleX(0);
transition : all 0.3s 0s ease-in-out;
}
.navRight:hover:before {
visibility : visible;
transform : scaleX(1);
}
.navbar-brand {
padding-left : 10%;
font-size : 30px;
font-weight : bold;
}
.navbar-brand:hover {
font-size : 32px;
transition : 0.5s linear;
color : #00b3b3;
}
.video-container {
z-index : -100;
width : 100%;
overflow : hidden;
position : relative;
top : 0;
left : 0;
}
#video-bg {
width : 100%;
margin-top : -15px;
overflow : hidden;
margin-bottom : -18px;
}
.four {
color : #00b3b3;
font-size : 38px;
}
.jumbotron {
border-left : 6px solid #00b3b3;
margin : 5px 0 5px 0;
padding-top : 5%;
border-radius : 15px;
}
.jumbotron h1 {
color : #00b3b3;
}
.jumbotron p {
padding-left : 5%;
}
.navbar-fixed-top.fixednav {
transition : 0.7s linear;
opacity : 0.800000011920928955078125;
background : black;
}
.hideme {
opacity : 0;
}
.visible {
opacity : 1;
animation-delay : 0.3s;
transition : 0.3s;
}
.parallax {
background-image : url("f4.jpg");
height : 500px;
width : 100%;
background-attachment : fixed;
background-position : center;
background-repeat : no-repeat;
background-size : cover;
opacity : 0.700000226497650146484375;
}
.parallax2 {
background-image : url("f2.jpeg");
height : 500px;
width : 100%;
background-attachment : fixed;
background-position : center;
background-repeat : no-repeat;
background-size : cover;
opacity : 0.700000226497650146484375;
}
.parallax3 {
background-image : url("f1.jpeg");
height : 500px;
width : 100%;
background-attachment : fixed;
background-position : center;
background-repeat : no-repeat;
background-size : cover;
opacity : 0.700000226497650146484375;
}
.parallax4 {
background-image : url("f5.jpg");
height : 500px;
width : 100%;
background-attachment : fixed;
background-position : center;
background-repeat : no-repeat;
background-size : cover;
opacity : 0.700000226497650146484375;
}
.parallax5 {
background-image : url("f9.jpg");
height : 500px;
width : 100%;
background-attachment : fixed;
background-position : center;
background-repeat : no-repeat;
background-size : cover;
opacity : 0.700000226497650146484375;
}
#jumbo2 {
padding-top : 0.5%;
padding-left : 40%;
}
.right {
color : black;
}
#ball {
color : black;
}
#girl {
color : black;
padding-left : 2%;
}
#founders {
border-left : 6px solid #00b3b3;
margin : 5px 0 5px 0;
padding-top : 10%;
border-radius : 15px;
}
.thumbnail {
border : none;
box-shadow : none;
text-align : center;
}
.thumbnail img {
width : 250px;
height : 250px;
border : #A3E4D7 solid 4px;
border-radius : 50%;
vertical-align : middle;
}
ul.social-buttons li a {
font-size : 20px;
line-height : 40px;
display : block;
width : 40px;
height : 40px;
transition : all 0.3s;
color : #fff;
border-radius : 100%;
outline : 0;
background-color : #222;
}
ul.social-buttons li a:hover {
color : #00b3b3;
background-color : #fff;
transform : scale(2.15) rotate(360deg);
}
#mainNav .navbar-toggler {
font-size : 12px;
right : 0;
padding : 13px;
text-transform : uppercase;
color : #00b3b3;
border : 0;
background-color : #00b3b3;
text-transform : uppercase;
}
.shopItem {
text-align : center;
padding : 2% 2% 2% 2%;
margin : 5%;
}
.img-fluid {
max-width : 100%;
height : auto;
}
img {
vertical-align : middle;
border-style : none;
border-radius : 25%;
border : #A3E4D7 solid 4px;
}
@keyframes slideUp {
from {
margin-top : 15%;
}
to {
margin-left : 0%;
}
}
#shop .portfolio-item .portfolio-link .portfolio-hover:hover {
opacity : 0.800000011920928955078125;
box-sizing : inherit;
animation-name : slideUp;
animation-duration : 0.4s;
}
#shop .portfolio-item .portfolio-link .portfolio-hover {
position : absolute;
width : 100%;
height : 100%;
transition : all 0.5s ease;
opacity : 0;
background : #A3E4D7;
border-radius : 25%;
}
#shop * {
z-index : 2;
}
#shop .portfolio-item .portfolio-link {
position : relative;
display : block;
max-width : 400px;
margin : 0 auto;
cursor : pointer;
}
.portfolio-hover-content {
font-weight : bold;
color : black;
font-size : 20px;
}
.footer-distributed {
background-color : #292c2f;
box-shadow : 0 1px 1px 0 rgba(0, 0, 0, 0.12);
box-sizing : border-box;
width : 100%;
text-align : left;
font : bold;
font-size : 15px;
font-family : 'Ubuntu', sans-serif;
padding : 55px 50px;
margin-top : 1px;
color : white;
}
.footer-distributed .footer-left {
width : 40%;
}
.footer-distributed .footer-center {
width : 35%;
padding-top : 20px;
}
.footer-distributed .footer-right {
width : 20%;
padding-top : 20px;
}
.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
display : inline-block;
vertical-align : top;
}
.footer-distributed .footer-icons {
margin-top : 25px;
}
.footer-social-buttons i {
display : inline-block;
padding-right : 15px;
padding-left : 15px;
transition : all 0.3s;
border-radius : 100%;
font-size : 25px;
color : #00b3b3;
}
.footer-social-buttons i:hover {
color : #fff;
transform : scale(2.15) rotate(360deg);
}
.footer-left a:hover {
color : #00b3b3;
text-decoration : none;
}
.footer-center a:hover {
color : #00b3b3;
text-decoration : none;
}
.footer-company-name {
color : #00b3b3;
}
.footer-center i {
font-size : 20px;
line-height : 40px;
display : inline-block;
width : 40px;
height : 40px;
border-radius : 100%;
color : #00b3b3;
}
.flag-icon {
margin-right : 5%;
border-radius : 20%;
width : 40px;
height : 40px;
margin-bottom : 5%;
}
.shirtDesc {
color : black;
font-weight : 800;
}
.cost {
color : black;
}
* {
margin : 0;
padding : 0;
box-sizing : border-box;
}
#clinics body {
background-color : #656D78;
}
#clinics {
height : 400px;
}
#clinics h1, h3 {
text-align : center;
}
#clinics h3 {
padding-top : 5%;
}
.ball {
width : 50px;
height : 50px;
margin : 0 0 0 -25px;
background-color : #00b3b3;
border-radius : 100%;
position : absolute;
top : 10px;
left : 50%;
animation : ball 1s infinite;
}
#fourEllas {
color : #00b3b3;
}
footer h3 {
text-align : left;
}
@keyframes ball {
0% {
top : 6px;
}
5% {
top : 8px;
}
10% {
top : 12px;
}
15% {
top : 20px;
}
20% {
top : 38px;
}
25% {
top : 72px;
}
30% {
top : 100px;
}
35% {
top : 152px;
}
40% {
top : 154px;
height : 46px;
width : 54px;
margin-left : -27px;
}
}